
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body style="background-color:#FFE5CC">
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/electronic/updateElectronic}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Update electronic Information<span style="font-size: small"> * is a
							required field</span>
					</legend>
					
					<input hidden="hidden" name="id" th:value="${electronic.id}" />


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="modelName">* Model Name</label>

						<div class="col-md-8">
							<input type="text" name="modelName" class="form-control" id="modelName"
								th:value="${electronic.modelName}" required="required" placeholder="Model Name" />
							<span class="help-block">Model Name of the electronic</span>
						</div>
					</div>

					<!-- author -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="brandName">*
							Author</label>
						<div class="col-md-8">
							<input type="text" name="brandName" class="form-control" id="brandName"
								th:value="${electronic.brandName}" required="required"
								placeholder="Brand Name" /> <span class="help-block">BrandName
								of the electronic</span>
						</div>
					</div>

					<!-- publisher -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="color">Color</label>
						<div class="col-md-8">
							<input type="text" name="color" class="form-control"
								id="color" th:value="${electronic.color}"
								placeholder="Color" /> <span class="help-block">Color
								of the electronic</span>
						</div>
					</div>

					<!-- publication date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="releaseDate">Publication
							Date</label>
						<div class="col-md-8">
							<input type="date" class="form-control" id="releaseDate"
								name="releaseDate" th:value="${electronic.releaseDate}"
								placeholder="release Date" /> <span class="help-block">release Date of the electronic</span>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="col-md-8">
							<select th:value="${electronic.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Mobile"
									th:selected="(${electronic.category}=='Mobile')">Mobile</option>
								<option value="Laptops"
									th:selected="(${electronic.category}=='Laptops')">Laptops</option>
								<option value="Cameras"
									th:selected="(${electronic.category}=='Cameras')">Cameras</option>
								<option value="Tablet"
									th:selected="(${electronic.category}=='Tablet')">Tablet</option>
							</select>
						</div>
					</div>
					
					<!-- maincategory -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="maincategory">*
							Main Category</label>
						<div class="col-md-8">
							<select th:value="${electronic.mainCategory}" id="maincategory" name="maincategory"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Electronic"
									th:selected="(${electronic.mainCategory}=='Electronic')">Electronic</option>
							</select>
						</div>
					</div>

					<!-- height -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="dimension_height">Dimension : Height</label>

						<div class="col-md-8">
							<input type="number" name="dimension_height" class="form-control"
								id="dimension_height" th:value="${electronic.dimension_height}"
								placeholder="Height" /> <span class="help-block">Dimension : Height</span>
						</div>
					</div>
					
					<!-- Width -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="dimension_width">Dimension : Width</label>

						<div class="col-md-8">
							<input type="number" name="dimension_width" class="form-control"
								id="dimension_width" th:value="${electronic.dimension_width}"
								placeholder="Width" /> <span class="help-block">Dimension : Width</span>
						</div>
					</div>
					
					<!-- Ratings -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="stars">Rating</label>
						<div class="col-md-8">
							<input th:value="${electronic.stars}" type="number"
								name="stars" class="form-control" id="stars"
								placeholder="Ratings" /> <span
								class="help-block">Ratings</span>
						</div>
					</div>

					<!-- isbn -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="isbn">ISBN</label>

						<div class="col-md-8">
							<input type="text" name="isbn" class="form-control" id="isbn"
								th:value="${electronic.isbn}" placeholder="ISBN" /> <span
								class="help-block">ISBN of the Product</span>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Shipping
							Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${electronic.shippingWeight}" type="number" step="0.01"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Ounces</span>
							</div>
							<span class="help-block">Shipping Weight of the Product</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">Rs.</span> <input
									th:value="${electronic.listPrice}" type="number" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">List price of the Product</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">Rs.</span> <input
									th:value="${electronic.ourPrice}" type="number" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the Product</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Number
							in stock</label>
						<div class="col-md-8">
							<input th:value="${electronic.inStockNumber}" type="number"
								name="inStockNumber" class="form-control" id="inStockNumber"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Number of in-stock </span>
						</div>
					</div>
					
					<!-- Warranty -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="Warranty">Warranty</label>
						<div class="col-md-8">
							<input th:value="${electronic.Warranty}" type="number"
								name="Warranty" class="form-control" id="Warranty"
								placeholder="Warranty" /> <span
								class="help-block">Warranty </span>
						</div>
					</div>

					<!-- status of book -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Active </label> <label><input
								value="false" type="radio" name="active" />
								Inactive </label> <span class="help-block">Whether the Product is
								active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${electronic.description}" th:text="${electronic.description}"
								placeholder="Description" />
							<span class="help-block">Description of the Product</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="electronicImage">Upload Electronic product image</label>
						</div>
						<div class="col-md-8">
							<input id="electronicImage" type="file" name="electronicImage"
								th:value="${electronic.electronicImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Update electronic</button>
							<a class="btn btn-danger" th:href="@{/electronic/electronicInfo(id=${electronic.id})}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
